body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

#exercise {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}



.item {
    background-color: #f0f0f0;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    
}

#dropzones {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.dropzone {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border: 2px dashed #888;
    border-radius: 5px;
}

.dropzone img {
    width: 100px;
    height: 100px;
}

#feedback {
    margin-top: 20px;
    text-align: center;
}

button {
    margin-top: 10px;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}
